just checking :

In [1]:
1+1

2

### Random test file:

In [4]:
phrase = "hello, my name is TUSHAR SINGH RAWAT, and this is check,i am checking set functionality! and repeat is TUSHAR"
words = phrase.split()
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'RAWAT,', 'and', 'am', 'my', 'TUSHAR', 'functionality!', 'SINGH', 'this', 'set', 'repeat', 'check,i', 'is', 'checking', 'name', 'hello,'}
15

In [10]:
random_check = {1,2,8,3,5}
print(type(random_check))

rand_dict = {}
print(type(rand_dict))

empty_dict = dict()
print(type(empty_dict))

<class 'set'>
<class 'dict'>
<class 'dict'>

In [14]:
numbers = [1,1,1,1,1,1,2,2,2,3,3,3,3,4,3,3,5,5,5,6,6,6,6,9]
freq = {}

for number in numbers:
    if number in freq:
        freq[number] += 1
    else:
        freq[number] = 1
        
print(freq)

{1: 6, 2: 3, 3: 6, 4: 1, 5: 3, 6: 4, 9: 1}

In [29]:
## func to check whether the num is even or odd and num shold be greater than 0
def even_odd(num):
    if num >= 0:
        if num % 2==0:
            return "even"
        else:
            return "odd"
    else:
        return "wrong input"

In [21]:
result = even_odd(54)
if result == True:
    print("even nuber")
else: print("odd number")

even nuber

In [30]:
ans = even_odd(0)
print(ans)

even

In [36]:
num = 9

In [37]:
if(9 == num):
    pass
else:
    print("dd")

In [46]:
## fun to greet people
def greet(name="himanshu"): #deafult para
    print(f"Hello, {name} welcome to my home!")

In [47]:
greet()

Hello, himanshu welcome to my home!

In [51]:
def print_num(*args): ## positional argument
    for num in args:
        print(num)

In [52]:
print_num(1,2,3,4,5,6)

1
2
3
4
5
6

In [75]:
def print_details(*args, **kwargs): ##keyword argument
    for value in args:
        print(f"position = {value}")
    for key,value in kwargs.items():
        print("{}:{}".format(key,value))

In [76]:
print_details(69 ,name="tushar", age=22, marks=80, hobbie = "gaming")

position = 69
name:tushar
age:22
marks:80
hobbie:gaming

In [57]:
details = {"name":"tushar", "age":22, "year": 2024}
type(details)

dict

In [80]:
## func to convert the temp from one unit to another
def convert(temp,unit):
    if unit.lower() == 'c':
        return (temp * 9/5) + 32 , "F"
    elif unit.lower() == 'f':
        return (temp - 32) * 5/9 , "C"
    else:
        return "Invalid unit. Please use 'C' for Celsius or 'F' for Fahrenheit."

In [83]:
temperature,unit = convert(25,"C")
print(f"temperature is {temperature} {unit}")

temperature is 77.0 F

In [1]:
def check_palindrome(str):
    s = str.lower().replace(" ", "")
    return s == s[::-1]

In [3]:
check_palindrome("my name is xyz")
check_palindrome("aabbaa")

True

In [6]:
sum = lambda a,b : a+b

In [7]:
sum(5,6)

11

In [10]:
list(map(lambda x: x**2, [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [12]:
[x*x for x in range(1,6)]

[1, 4, 9, 16, 25]

In [13]:
[num for num in range(1, 11) if num%2 == 0]

[2, 4, 6, 8, 10]

In [14]:
num1 = [1,2,3,4,5]
num2 = [6,7,8,9,10]

list(map(lambda x,y : x+y, num1, num2))

[7, 9, 11, 13, 15]

In [19]:
words = ["tushar","singh","rawat"]

list(map(lambda str: str.upper(),words)) ##map : maps the func() to iterator

['TUSHAR', 'SINGH', 'RAWAT']

In [20]:
list(filter(lambda x : x%2 == 0, [1,2,3,4,5,6,7,8,9,10]))  ##filter : filter out the selective iterators

[2, 4, 6, 8, 10]

In [25]:
people = [
    {"name":"mohit", "age":25},
    {"name":"jadu", "age":20}
]

list(filter(lambda person: person["age"] > 20, people))

[{'name': 'mohit', 'age': 25}]

In [26]:
import math
math.sqrt(16)

4.0

In [2]:
from math import sqrt,pi
print(sqrt(9))
print(pi)

3.0
3.141592653589793

In [3]:
import numpy as np

In [8]:
arr = np.array([1,2,3,4,5])
print(arr)

[1 2 3 4 5]

In [17]:
from math import * ##importing all functionality from math module

In [16]:
from package.maths import addition, multiplication ## custom package
print(addition(5,6))
print(multiplication(2,3))

11
6

In [19]:
from random import randint, choice
print(randint(1,10))
print(choice(['rock', 'paper', 'scissors']))

8
rock

In [20]:
import os
print(os.getcwd())

c:\Users\dell\Desktop\GEN_AI\python

In [21]:
## to deal with the high level operation 
import shutil
shutil.copyfile('shutil_test_1.txt', 'shutil_test_2.txt')

'shutil_test_2.txt'

In [24]:
## data serialization
import json
data = {"name" : "tushar", "age" : 22, "city" : "uk"} ##dict

json_data_str = json.dumps(data)
print(json_data_str)
print(type(json_data_str))

parsed_data = json.loads(json_data_str)
print(parsed_data)
print(type(parsed_data))

{"name": "tushar", "age": 22, "city": "uk"}
<class 'str'>
{'name': 'tushar', 'age': 22, 'city': 'uk'}
<class 'dict'>

In [40]:
## working with the csv file

import csv

with open('example.csv',mode = 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Name', 'Age', 'City'])
    writer.writerow(['jatin', '21', 'gau_gavdi'])
    writer.writerow(['kanishk', '22', 'moj_pur chapri'])
    
with open('example.csv', mode = 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['jatin', '21', 'gau_gavdi']
['kanishk', '22', 'moj_pur chapri']

In [27]:
## datetime
from datetime import datetime,timedelta
now = datetime.now()
print(now)

yesterday = now - timedelta(days = 1)
print(yesterday)

2024-12-24 10:34:46.049781
2024-12-23 10:34:46.049781

In [42]:
## reading whole file
with open('example.csv', mode= 'r') as file:
    content = file.read()
    print(content)
    
    
## reading file line by line
with open('example.csv', mode= 'r') as file:
    for line in file:
        print(line.strip())
        
## appending data to a file
with open('example.csv', mode= 'a') as file:
    file.write('\nThis is a new line')
with open('example.csv', mode= 'r') as file:
    content = file.read()
    print(content)

Name,Age,City
jatin,21,gau_gavdi
kanishk,22,moj_pur chapri

This is a new line
Name,Age,City
jatin,21,gau_gavdi
kanishk,22,moj_pur chapri

This is a new line
Name,Age,City
jatin,21,gau_gavdi
kanishk,22,moj_pur chapri

This is a new line
This is a new line

In [43]:
## adding multi lines to the file using 'a' mode & writelines
corpus = [
    'first line \n',
    'second line \n',
    'third line \n'
]

with open('example.csv',mode='a')as file:
    file.writelines(corpus)

In [44]:
## copying a file to another
with open('example.csv',mode='r') as source_file:
    content = source_file.read()
with open('destination_copied.csv', mode='w') as destination_file:
    destination_file.write(content)